;; Analyzed by ClojureScript 1.7.170
{:name portfolio.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses {by-id domina, value domina}, :requires {domina domina}, :imports nil, :defs {validate-form {:protocol-inline nil, :meta {:file "/Volumes/My Passport for Mac/It-Tallaght/Interactive Media Design/portfolio/src/cljc/portfolio/core.cljc", :line 36, :column 16, :end-line 36, :end-column 29, :arglists (quote ([]))}, :name portfolio.core/validate-form, :variadic false, :file "/Volumes/My Passport for Mac/It-Tallaght/Interactive Media Design/portfolio/src/cljc/portfolio/core.cljc", :end-column 29, :method-params ([]), :protocol-impl nil, :arglists-meta (nil nil), :column 10, :line 36, :end-line 36, :max-fixed-arity 0, :fn-var true, :arglists (quote ([]))}}}